
.bg-blak{
  background: #181818;

}
.link-of:link, .link-of:active, .link-of:visited, .link-of:hover {
  background:none!important;
  border:none;
  font-family:arial,sans-serif;
  color:#ffffff;
  cursor:pointer;
  font-size: 22px;
  margin-top: 8px;
  margin-left: 14px;
}
.mb-dark{
  background-color: #343a40;
  margin:   0px;
}
.t-centro{text-align: center;}.t-destra{text-align: right;}

.sep{
  padding-top: .75rem;
padding-bottom: .75rem;
background-color: rgba(0,102,204,.75);
border: 1px solid #06c;
color: #fff;
}
.mes{
  position: relative;
  margin-top: 6cm;
}
.inv{
  background: none !important;
}
.maiusc{
  text-transform: uppercase;
}
