p
{
  font-size: 1,3vw;
}

.title
{
  font-size: 1,5vw;
  text-transform: uppercase;
}

.navbar-brand
{
  min-height: 10px !important;
}

.gioco
{
  width: 18%;
  height: 60%;
}

.card-img-top{width: 90%;}

.column1{ left: 1%;}
.column2{ left: 21%;}
.column3{ right: 41%;}
.column4{ right:21%;}
.column5{ right: 1%}

.line1{top: 10%}
.line2{top: 75%}
