@media screen and (max-width: 1024px){
  /* solo se lo schermo e piu piccolo di max-width */
  .friend{width: 25%!important;}
  .chat{width: 70% !important;
        left: 30%!important;
        max-height: 80% !important;
        bottom: 725px !important;}
        .navbar-brand{font-size:2.3vw!important;}
        span{font-size:2vw;}
    }
    /* codice per il text responsive */
    .navbar-brand{font-size:1.3vw!important;}
    span{font-size:1vw;}
    /*  */
.friend{position: absolute ;
        width: 23%;
        top: 50px;
        height: 90%;
        left: 0.5%;
      }

.chat{position: absolute;
      width:53%;
      left: 25%;
      top: 50px;
      height: 90%;
    }

.cons{
      position: absolute;
      right: 0.5%;
      top: 50px;
      height: 90%;
      width:20%;
      padding:15px;
      text-align:left;
    }


.aggiungi{
  margin-top: 130%;
  margin-left: 90%;
  width:30px;
  height: 30px;
  border-radius:50%;
  font-size: 300%;
}
.piu{
  text-align: center;
  margin-left: -13px;
  margin-top: -30px;
}

.icon{width: 7%;border-radius:50%;}
.icon1{width: 4%;border-radius:50%;}
.chat_icon{margin-bottom: 2%;}
/* .rs{background-color: yellow;} */

/* codice per nascondere un elemento con javascript */
.Show {width: 100%;height: 100%}
.Hide {display:none; width: 0%}
