.friend{position: relative;
        width: 23%;
        top: 10px;
        min-height: 705px

        @media screen {
          @media (max-width: 1024px) {
            .friend {
              width:30%;
              }}}
}

.chat{width:53%;
      left: 25%;
      position: relative;
      bottom: 738px;
      min-height: 705px;
      max-height: 705px;
      @media screen {
        @media (max-width: 1024px) {
          .chat {
            width: 70%;
            }}}

}

.cons{width: 20%;
      left: 80%;
      position: relative;
      bottom: 1475px;
      min-height: 705px;
}

.aggiungi{
  margin-top: 110%;
  margin-left: 90%;
  width:30px;
  height: 30px;
  border-radius:50%;
  font-size: 300%;
}
.piu{
  margin-left: -13px;
  margin-top: -30px;
}
